{
  "extends": "airbnb-base",
  "rules": {
    "class-methods-use-this": "off",
    "indent": ["error", 4],
    "no-console": "off",
    "global-require": "off",
    "comma-dangle": ["error", "never"],
    "spaced-comment": "off"
  },
  "env": {
    "browser": true
  }
}
