@import '../settings/colors';
@import '../settings/spacing';
@import '../settings/z-index';
@import '../utils/breakpoints';

.page-strip {
    width: 100%;
    position: relative;
    padding: ($space * 4) 0;
    z-index: $z-base;

    @include breakpoint(tablet) {
        padding: ($space * 8) 0;
    }

    &--reduced-top-padding {
        padding-top: $space * 2;

        @include breakpoint(tablet) {
            padding-top: $space * 4;
        }
    }

    &--reduced-bottom-padding {
        padding-bottom: $space * 2;

        @include breakpoint(tablet) {
            padding-bottom: $space * 4;
        }
    }

    &--extended-top-padding {
        padding-top: $space * 6.5;

        @include breakpoint(tablet) {
            padding-top: $space * 11;
        }
    }

    &--extended-bottom-padding {
        padding-bottom: $space * 6.5;

        @include breakpoint(tablet) {
            padding-bottom: $space * 11;
        }
    }

    &--no-bottom-padding {
        padding-bottom: 0;

        @include breakpoint(tablet) {
            padding-bottom: 0;
        }
    }

    &--no-top-padding {
        padding-top: 0;

        @include breakpoint(tablet) {
            padding-top: 0;
        }
    }

    &--has-section-divide {
        margin-top: 80px;
    }

    &--primary {
        background-color: $primary;
    }

    &--secondary {
        background-color: $secondary;
    }

    &--tertiary {
        background-color: $tertiary;
        color: $white;
    }

    &--on-top {
        z-index: $z-overlay;
    }
}
