/*  DEBUG HELPERS  */

.grid-viwer {
    position: fixed;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    opacity: 0.3;
    top: 0;
    height: 100vh;
    z-index: $z-background;
    justify-content: space-between;
    max-width: 90%;
    @include breakpoint(desktop) {
        width: 960px;
    }
}

.desktop {
    display: none;
    @include breakpoint(desktop) {
        display: flex;
    }
}

.mobile {
    display: flex;
    @include breakpoint(desktop) {
        display: none;
    }
}

.col {
    background-color: $grey-light;
    display: flex;
    height: 100vh;
    width: calc(42rem / 19);
    @include breakpoint(desktop) {
        width: calc(45rem / 12);
    }
}