button {
    user-select: none;
    display: inline-flex;
    vertical-align: middle;
    align-items: center;
    justify-content: center;
    font: inherit;
    cursor: pointer;
    overflow: visible;
    border: none;
    border-radius: 0;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        outline: none;
        border: none;
    }

    &:focus,
    &:active {
        background-color: inherit;
    }

    &::-moz-focus-inner {
        border: 0;
        padding: 0;
    }
}
