:root {
    --color-black: #000;
    --color-white: #fff;
    --color-dark: #68c8e6;
    --brand-green: #3EAA82;
    --animation-speed: 3s;
    --animation-loop: infinite;
}


/*  DEBUG HELPERS  */

.grid-viwer {
    position: fixed;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    left: 0;
    right: 0;
    opacity: 0.3;
    top: 0;
    height: 100vh;
    z-index: -1;
    justify-content: space-between;
    max-width: 90%;
}

.desktop {
    display: none;
}

.mobile {
    display: flex;
}

.col {
    background-color: #b3b3b3;
    display: flex;
    height: 100vh;
    width: calc(42rem / 19);
}


/* GRID */

.grid-container {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
}

.w-3-12 {
    width: 100%;
}

.w-6-12 {
    width: 100%;
}

.w-9-12 {
    width: 100%;
}


/* LAYOUT */

body {
    background-image: url(../img/background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    width: 100vw;
    &::before {
        content: '';
        width: 100vw;
        height: 100vh;
        background: rgba(0, 0, 0, 0.69);
        position: fixed;
        top: 0;
        left: 0;
        z-index: -1;
    }
}

.brand {
    width: 100%;
    margin: 16px 0;
    &--logo {
        fill: #fff;
    }
}

.page--content {
    display: flex;
    flex-direction: column;
    margin-left: 0;
    width: 100%;
}

.page--headline {
    display: flex;
    flex-direction: column;
    margin: 32px 0;
    width: 100%;
}

.article-list--container {
    width: 100%;
    height: 420px;
    overflow: hidden;
    position: relative;
}

.article-list {
    display: flex;
    position: absolute;
    overflow: hidden;
    height: 420px;
}

.article-list.transition {
    transition: transform 500ms ease-in-out;
}

@media screen and (prefers-reduced-motion: reduce) {
    .article-list.transition {
        transition: none;
    }
}

.image-container {
    position: relative;
    overflow: hidden;
    display: flex;
    margin: 0 0 25px 0;
    border-radius: 0 28px 0 0;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    img {
        width: 100%;
    }
}

.article:first-child .image-container::after {
    animation: loaderline linear var(--animation-speed) var(--animation-loop);
    width: 100%;
    height: 2px;
    background: var(--brand-green);
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
}

.article:hover .image-container::after {
    animation-play-state: paused;
}


/* TYPOGRAPHY */

.page {
    &--tagline {
        color: #FFFFFF;
        font-size: 55px;
        font-weight: bold;
        letter-spacing: 0;
        line-height: 64px;
        margin: 0 0 16px 0;
    }
    &--introduction {
        color: #FFFFFF;
        font-size: 16px;
        letter-spacing: 0.53px;
        line-height: 23px;
    }
}

.article {
    transition: all ease 500ms;
    display: flex;
    flex: 0 0 calc(45rem / 6 * 2.6999);
    flex-direction: column;
    &--title {
        color: #FFFFFF;
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.6px;
        line-height: 21px;
        margin: 0 0 9px 0;
    }
    &--excerpt {
        color: #FFFFFF;
        font-size: 13px;
        letter-spacing: 0.43px;
        line-height: 20px;
    }
}


/* ANIMATION */

@keyframes loaderline {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

// DESKTOP
@media only screen and (min-width: 960px) {
    .desktop {
        display: flex;
    }
    .mobile {
        display: none;
    }
    .grid-viwer {
        width: 960px;
    }
    .col {
        width: calc(45rem / 12);
    }
    .grid-container {
        max-width: 960px;
    }
    .brand {
        margin: 64px 0 32px;
        display: flex;
        width: calc(45rem / 12 * 3.6985);
    }
    .article {
        flex: 0 0 calc(45rem / 12 * 3.6985);
    }
    .w-3-12 {
        display: flex;
        width: calc(45rem / 12 * 3.6985);
    }
    .w-6-12 {
        width: calc(45rem / 12 * 7.82);
    }
    .w-9-12 {
        width: calc(45rem / 12 * 11.895);
    }
    .page--content {
        margin-left: calc(45rem / 12 * 4.105);
        width: calc(45rem / 12 * 11.895);
    }
    .page--headline {
        width: calc(45rem / 12 * 7.82);
    }
    .article-list--container {
        width: 100%;
        height: 370px;
        overflow: hidden;
        position: relative;
    }
    .article-list {
        display: flex;
        position: absolute;
        width: 10000px;
        justify-content: flex-start;
    }
    .article {
        margin: 0 24px 0 0;
    }
}